
.top-bar {
    display: inline-flex;
    margin: 10px;
    position: relative;
    left: 38%;
}

.top-bar-left {
    flex: 1;
}

.top-bar-left > p {
    font-weight: bold;
    font-size: 1.25rem;
    color: #252525;
}

.top-bar-right {
    margin-top: 15%;
    position: relative;
    left: 180%;
}

.top-bar-right > img {
    width: 30px;
}

.form-contents {
    position: relative;
    left: 40%;
}

.form-input {
    width: 300px;
    height: 300px;
    background-color: #ececec;
    color: #4d4d4d;
    border: none;
    border-radius: 5%;
    font-size: 1.2rem;
}

.sender {
   display: inline-flex;
}

.sender > p {
    font-size: 1.25rem;
    color: #252525;
    flex: 1;
}

.sender > .sender-from {
    width: 100px;
}

.save-button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: rgb(66, 66, 66);
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.save-button:hover {
    background-color: rgb(129, 129, 129);
}