@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    animation: fadeIn 0.7s;
}

body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}


/* 구체적인 요소 */
.title {
    padding: 10px;
    text-align: center;
    background-color: rgba(1, 80, 170, 0.788);
    color: #ffffff;
}

.title > h1 {
    font-size: 3rem;
}

.title > p {
    font-size: 1.5rem;
}

.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.content {
    padding: 0 16px;
    text-align: center;
    color: #252525;
}

.content::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* create button */
.create > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}

.create-button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(129, 129, 129);
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.create-button:hover {
    background-color: rgba(1, 80, 170, 0.788);
}